<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title></title>
 		<meta name="description" content=" " />
 		<meta name="author" content=" " />
 		<meta name="HandheldFriendly" content="true" />
 		<meta name="MobileOptimized" content="320" />
 		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
 	</head>
 	<body>
    {{#games}}
    <p>Name: {{name}}</p>
    <p>Developer: {{developer}}</p>
    <p>Is It Good?: {{isitgood}}</p>
    <ul>
    <p>Saves:</p>
    {{#saves}}
      <li>{{name}}</li>
      <li>{{time}}</li>
    {{/saves}}
    </ul>
    <a href="/{{_id}}/editgame/">Edit Game</a>
    <a href="/{{_id}}/addsave/">Add New Save</a>
    <br><br>
    {{/games}}
    <form action="/add" method="post">
      <button type="submit">Add New Game</button>
    </form>
 	  <script type="text/javascript" src="main.js"></script>
 	</body>
 </html>
